h1{
    color: orange;
    font-family: sans-serif;
    text-align: center;
}

.kotak{
    padding: 50px;
    width: 100px;
    color: #fff;
    margin: 10px;
    background: orange;
}

#kotak{
    width: 400px;
    color: #fff;
    background: cyan;
    padding: 50px;
}