*{
    margin: 0;
    padding: 0;
    color: white;
    /* font-family: 'Be Vietnam', sans-serif; */
}

/*bagian sidebar*/

.tombol{
    text-align: right;
}

.hidesidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:rgb(0, 0, 0);
    overflow-x: hidden;
    transition: 0.5s;
    
}

.hidesidebar ul li a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
    border-top: 1px solid;
}

.hidesidebar ul li a:hover {
    color: black;
    background:white;
    border-top: 1px solid gray;
}
.hidesidebar ul li:last-child a{
  border-bottom: 1px solid;
}
.hidesidebar .close {
    margin-right: 20px;
    font-size: 36px;
    text-decoration: none;
    color: white;
    padding: 20px 0 0 20px;
}

#menu {
    transition: margin-left .5s;  
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}




/*bagian header*/
header{
    padding: 13px;
    background-color: rgba(0, 0, 0, 0.8);
}

h1{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: lighter;
    margin-top: 4px;
    line-height: 25px;
    text-align: center;
}

.h1{
    position: absolute;
    top: 3px;
    left: 625px;
}

.button{
    border-radius: 40px;
    border: solid;
    height: 30px;
    width: 70px;
    font-weight: bold;
    position: absolute;
    left: 650px;
    top: 12px;
    background-color: transparent;
    
}

a{
    text-decoration: none;
}


/*ini bagian section*/

section input{
    color: black;
}

.tomboltambah{
    color: rgb(255, 255, 255);
    border-radius: 40px;
    border: solid;
    height: 30px;
    width: 70px;
    font-weight: bold;
    
    background-color: transparent;
}
.bunga{
    background-color:rgba(0, 0, 0, 0.664);
    /* background-size: 5px 5px 5px 5px;
    height: 490px; */
    width: 190px;
    padding: 20px 40px;
    border-radius: 20px;
    position: center;
    margin: 40px 560px;
}

.ini{
    list-style: none;
}
.ubah{
    padding: 5px;
    border-radius: 5px;
}
.label{
    font-family: 'Be Vietnam', sans-serif;
}

.dropdown{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: lighter;
    width: 10%;
    height: 20px;
    border: 2px solid;
    border-radius: 10px;
    text-align: center;
    float: right;
    position: relative;
    right: 2px;
    top: -30px;
    line-height: 20px;
}

.dropdown ul li{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: lighter;
    width: 100%;
    height: 20px;
    line-height: 30px;
    float: left;
    list-style: none;
    text-align: center;
}
.dropdown ul:hover li{
    display: block;
}

.dropdown ul li{
    display: none;
}

.login{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: lighter;
    width: 5%;
    height: 20px;
    border: 2px solid;
    border-radius: 10px;
    text-align: center;
    float: right;
    position: relative;
    right: 2px;
    top: -30px;
    line-height: 20px;
}
/*section textarea{
    color: black;
}*/