*{
    margin: 0;
    padding: 0;
    color: white;
    /* font-family: 'Be Vietnam', sans-serif; */
}

/*bagian sidebar*/

.tombol{
    text-align: right;
}

.hidesidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:rgb(0, 0, 0);
    overflow-x: hidden;
    transition: 0.5s;
    
}

.hidesidebar ul li a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
    border-top: 1px solid;
}

.hidesidebar ul li a:hover {
    color: black;
    background:white;
    border-top: 1px solid gray;
}
.hidesidebar ul li:last-child a{
  border-bottom: 1px solid;
}
.hidesidebar .close {
    margin-right: 20px;
    font-size: 36px;
    text-decoration: none;
    color: white;
    padding: 20px 0 0 20px;
}

#menu {
    transition: margin-left .5s;  
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}




/*bagian header*/
header{
    padding: 13px;
    background-color: rgba(0, 0, 0, 0.8);
}

h1{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: lighter;
    margin-top: 4px;
    line-height: 25px;
    text-align: center;
}

.h1{
    position: absolute;
    top: 3px;
    left: 625px;
}


.gambarprofile{
    position: absolute;
    top: 3px;
    left: 625px;
}

button{
    border-radius: 40px;
    border: solid;
    height: 30px;
    width: 70px;
    font-weight: bold;
    position: absolute;
    left: 650px;
    top: 12px;
    background-color: transparent;
    
}



a{
    text-decoration: none;
}


/*ini bagian section*/
 h2{
    font-family: 'DM Serif Display', serif;
    font-size: 56px;
    /* line-height: 56px; */
    padding-left: 100px;
    
} 

section{
    padding: 20px 600px 0px 70px;
    text-align: justify;
}

.p{
    font-family: 'Overpass', sans-serif;
    text-align: right;
    font-style: italic;
    background-color: rgba(0, 0, 0, 0.63);
    border-radius: 10px;
    padding: 20px;
    position: relative;
    left: 465px;
} 

input{
    position: absolute;
    right: 20px;
    bottom: 20px;
}
.judul{
    font-family: 'DM Serif Display', serif;
    font-size: 58px;
    font-weight: lighter;
    line-height: 56px;
    padding-left: 50px;
}

.produk{
    font-family: 'DM Serif Display', serif;
    font-size: 35px;
    font-weight: lighter;
    background-color: transparent;
    font-family: 'DM Serif Display', serif;
    line-height: 56px;
    padding-left: 50px;
}

section h3:after{
    content: " ";
    position: absolute;
    border: 2px solid rgb(255, 255, 255);
    width: 827px;
    left: 378px;
    top: 657px;
}

.bawahan{
    content: " ";
    background-color:  rgb(0, 0, 0);
    position: absolute;
    width: 100%;
    height: 500px;
    left: 0px;
    top: 720px;
}
.gambar{
    list-style: none;
    margin: 10px 10px 10px 120px;
}

.imgproduk{
    width: 150px;
    height: 150px;
}

.gproduk{
    display: inline-block;
    padding: 15px;
    text-align: center;
    margin: 0px 120px 30px 0px;
    background-color: rgba(206, 146, 16, 0.63);
}

.p1{
    font-family: 'Overpass', sans-serif;
    color: black;
}

.dropdown{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: lighter;
    width: 10%;
    height: 20px;
    border: 2px solid;
    border-radius: 10px;
    text-align: center;
    float: right;
    position: relative;
    right: 2px;
    top: -30px;
    line-height: 20px;
}

.dropdown ul li{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: lighter;
    width: 100%;
    height: 20px;
    line-height: 30px;
    float: left;
    list-style: none;
    text-align: center;
}
.dropdown ul:hover li{
    display: block;
}

.dropdown ul li{
    display: none;
}

.login{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: lighter;
    width: 5%;
    height: 20px;
    border: 2px solid;
    border-radius: 10px;
    text-align: center;
    float: right;
    position: relative;
    right: 2px;
    top: -30px;
    line-height: 20px;
}