*{
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Be Vietnam', sans-serif;
}

/*bagian sidebar*/

.tombol{
    text-align: right;
}

.hidesidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: gray;
    overflow-x: hidden;
    transition: 0.5s;
    
}

.hidesidebar ul li a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
    border-top: 1px solid;
}

.hidesidebar ul li a:hover {
    color: #f1f1f1;
    background: red;
    border-top: 1px solid gray;
}
.hidesidebar ul li:last-child a{
  border-bottom: 1px solid;
}
.hidesidebar .close {
    margin-right: 20px;
    font-size: 36px;
    text-decoration: none;
    color: black;
    padding: 20px 0 0 20px;
}
}

#menu {
    transition: margin-left .5s;
    padding: 16px;  
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}




/*bagian header*/
header{
    padding: 7px;
    background-color: rgba(0, 0, 0, 0.644);
}



h1{
    line-height: 25px;
    text-align: center;
}

.h1{
    position: absolute;
    top: 3px;
    left: 625px;
}

h2{
    font-size: 50px;
    /*border: 3px solid white;
    width: 130px;
    height: 75px;
    margin: 0px;*/
}


.button{
    text-align: center;   
}

.posisi{
    position: absolute;
    top: 250px;
    right: 100px;
    
    
    
}

.kotaklogin{
    height: 200px;
    width: 350px;
    background: rgba(0, 0, 0, 0.644);
    text-align: center;
}

.kotaktext {
    width: 300px;
    height: 30px;
    border-radius: 40px;
    color: black;
}

.tulisankotak{
    text-align: left;
    position: relative;
    left: 4rem;
    
}

button{
    border-radius: 40px;
    height: 30px;
    width: 70px;
    color: black;
    font-weight: bold;
    
}


 section p:before{
    content: " ";
    position: absolute;
    border: 1px solid rgb(255, 255, 255);
    width: 35px;
    left: -40px;
    top: 50%;
}
section p:after{
    content: " ";
    position: absolute;
    border: 1px solid rgb(255, 255, 255);
    width: 180px;
    left: 80px;
    top: 50%;
}

input{
    text-align: center;
}